---
- hosts: localhost
  become: true

  roles:
      - angstwad.docker_ubuntu

  tasks:
  #- name: Install requirements for role_under_test
  #  command: ansible-galaxy install -r /home/vagrant/role_under_test/tests/requirements.yml

  - name: Create link role_under_test
    file:
      src: /home/vagrant/role_under_test
      path: /etc/ansible/roles/role_under_test
      state: link

  - name: Create inventory file
    template:
      src: ./inventory
      dest: /etc/ansible/hosts

  - name: Git clone travis-build
    become_user: vagrant
    git:
      dest: /home/vagrant/travis-build
      repo: https://github.com/travis-ci/travis-build.git

  - name: Create directory ~/.travis
    become_user: vagrant
    file:
      dest: /home/vagrant/.travis
      state: directory

  - name: Make travis-build link
    become_user: vagrant
    file:
      src: /home/vagrant/travis-build
      dest: /home/vagrant/.travis/travis-build
      state: link

  - name: Install travis-build with bundler
    become_user: vagrant
    bundler:
      state: present
      gemfile: /home/vagrant/travis-build/Gemfile
