---
# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_distribution_release }}.yml"

- name: Get owncloud key
  apt_key:
    url: "{{ key }}"
    state: present

- name: Get owncloud repositories
  apt_repository:
    repo: '{{ deb }}'
    update_cache: yes
    state: present
    filename: owncloud

- name: Install ubuntu-base
  apt:
    name: "{{item}}"
    state: latest
  with_items: "{{pkg_oc_ref_base}}"

- name: Install owncloud dependencies
  apt:
    name: "{{item}}"
    state: latest
  with_items: "{{pkg_oc}}"

- name: Install owncloud
  apt:
    name: owncloud
    state: latest
    update_cache: yes
  notify:
    - apache_restart
