---
# Include variables and define needed variables.
- name: Include OS-specific variables.
  include_vars: "{{ ansible_distribution_release }}.yml"

- include: setup-trusty.yml
  when: ansible_distribution_release == 'Debian'

# tasks file for owncloud
- name: Ensure mysld is installed
  command: which mysqld
  ignore_errors: true
  register: mysqld_installed
  changed_when: "mysqld_installed.rc != 0"

- name: Install mysql
  apt:
    name: mysql-server
  when: mysqld_installed.rc != 0
  notify: mysql_running

- name: Get owncloud key
  apt_key:
    url: "{{ key }}"
    state: present


- name: Get owncloud repositories
  apt_repository:
    repo: '{{ deb }}'
    update_cache: yes
    state: present
    filename: owncloud

- name: Install owncloud
  apt:
    name: owncloud
    state: latest
    update_cache: yes
  notify: apache_restart
