---
- hosts: all
  become: true

  tasks:
  - name: Repositories for ruby, git, virtualbox
    apt_repository:
      repo: "{{item}}"
    with_items:
    - ppa:brightbox/ruby-ng
    - ppa:git-core/ppa

  - name: Install base packages
    apt:
      cache_valid_time: 3600
      update_cache: yes
      state: present
      name: "{{item}}"
    with_items:
    - ruby2.3
    - ruby2.3-dev
    - git
    - vim
    - htop

  - name: Setup git/gem for user vagrant
    copy:
      src: "{{item}}"
      dest: /home/vagrant/.{{item}}
      owner: vagrant
      group: vagrant
      mode: u=rw,g=rw,o=r
    with_items:
    - gitconfig
    - gemrc

  - name: Setup path for gem
    lineinfile:
      dest: /home/vagrant/.bashrc
      line: export PATH=/home/vagrant/.gem/ruby/2.3.0/bin:$PATH
      state: present

  - name: Install serverspec etc.
    become_user: vagrant
    gem:
      name: "{{item}}"
      state: latest
      user_install: yes
    with_items:
      - rake
      - bundle
      - serverspec
      - serverspec-runner
      - test-kitchen
      - kitchen-vagrant
      - kitchen-ansible
      - kitchen-docker
      - bundler
      - travis
      - docker-api

  - name: Link to local playbook
    file:
      src: /vagrant/local-play
      path: /home/vagrant/local-play
      state: link

  - name: Install required roles
    command: ansible-galaxy install -r /home/vagrant/local-play/requirements.yml

  - name: Play local playbook
    command: ansible-playbook -i /home/vagrant/local-play/inventory /home/vagrant/local-play/playbook.yml
